
body {
    font-family: Century Gothic;
    background-color: #3c4b33;
    margin: 0;
    padding: 0;
    color: #336633;
}

header {
    background-image: url('https://github.com/bswain75/Align-Awaken-Website/blob/main/8121D071-8F1C-4093-9181-1818148A41D9%20(1).jpeg');
    background-size: cover;
    background-position: center;
    color: #336633;
    padding: 60px 20px;
    text-align: center;
    position: relative;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 80px;
}

main {
    padding: 20px;
    background-color: #bfc694;
}

footer {
    background-color: #eeeced;
    padding: 20px;
    text-align: center;
}

footer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

footer input, footer textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer button {
    padding: 10px;
    background-color: #bfc694;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
